<div class="mt-7 ml-12 ">
    <div class="flex place-items-center">
        <h1 class="font-roboto font-semibold text-[26px] text-[#3b3b3b]">Task Types</h1>
        <div class="ml-2 w-[120px] h-[2px] bg-[#255ce1] rounded-full"></div>
    </div>
</div>
<div class="w-full px-4 mt-16">
    <h1 class="font-poppins font-medium text-[22px]">Task types list.</h1>
    <h2 class="font-poppins text-[#44566c] font-medium text-[15px]">A list of all task types in our database.</h2>
    <div class="relative overflow-x-auto shadow-sm mt-4">
        <table class="w-full text-sm text-left text-gray-500 font-tilt rounded-lg overflow-hidden">
            <thead class="text-[16px] text-gray-700 bg-gray-50">
                <tr>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        #
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Name
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody class="text-[15px]">
                <tr class="bg-white" *ngFor="let item of data | paginate: { itemsPerPage: itemsperpage, currentPage: p }; let i = index">
                    <th scope="row" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                        {{ i+1 }}
                    </th>
                    <td class="px-6 py-4">
                        {{ item.name }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="/admin/typeh/edit/{{item.id}}" class="font-medium text-blue-600 hover:underline mr-2">Edit</a>
                        <a (click)="delete(item.id)" class="cursor-pointer font-medium text-red-600 hover:underline">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    <div class="mt-4">
        <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="<" nextLabel=">"></pagination-controls>
    </div>
</div>