<div class="mt-7 ml-12 ">
    <div class="flex place-items-center">
        <h1 class="font-roboto font-semibold text-[26px] text-[#3b3b3b]">Module Task</h1>
        <div class="ml-2 w-[120px] h-[2px] bg-[#255ce1] rounded-full"></div>
    </div>
</div>

<div class="w-full px-4 mt-16">
    <h1 class="font-poppins font-medium text-[22px]">Module tasks list.</h1>
    <h2 class="font-poppins text-[#44566c] font-medium text-[15px]">A list of all module tasks in our database.</h2>
    <div class="relative overflow-x-auto shadow-sm mt-4" [innerHTML]="t">
        <!-- <table class="w-full text-sm text-left text-gray-500 font-tilt rounded-lg overflow-hidden">
            <thead class="text-[16px] text-gray-700 bg-gray-50">
                <tr>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        #
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Professor
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Module
                    </th>
                    <th *ngFor="let item of types" scope="col" class="px-7 py-5 font-tilt">
                        {{ item.name }}
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Hours
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Year
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Semester
                    </th>
                    <th scope="col" class="px-7 py-5 font-tilt">
                        Session
                    </th>
                </tr>
            </thead>
            <tbody class="text-[15px]">
                <div *ngFor="let item of getObjectKeys(test)">
                    <div *ngFor="let it of getObjectKeys(test[item])">
                        <tr class="bg-white">
                            <th scope="row" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap">
                                {{ 1 }}
                            </th>
                            <td class="px-6 py-4">
                                x
                            </td>
                            <td class="px-6 py-4">
                               x
                            </td>
                            <td *ngFor="let item of types" class="px-6 py-4">
                                s
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                        </tr>
                        
                    </div>
                </div>
            </tbody>
        </table> -->
    </div>    
</div>